/************************/
/* Light colour palette */
/***********************/

$bgPrimaryLight: #e9e9e9;
$bgSecondaryLight: #cccccc;
$borderLight: #505050;
$fontLight: #000000;

.light-bg-primary {
    background-color: $bgPrimaryLight;
}

.light-bg-secondary {
    background-color: $bgSecondaryLight;
}

.light-font {
    color: $fontLight;
}

.light-dp {
    border-color: $borderLight;
}

/***********************/
/* Dark colour palette */
/***********************/

$bgPrimaryDark: #2c2c2c;
$bgSecondaryDark: #202020;
$borderDark: #cacaca;
$fontDark: #FFFFFF;

.dark-bg-primary {
    background-color: $bgPrimaryDark;
}

.dark-bg-secondary {
    background-color: $bgSecondaryDark;
}

.dark-font {
    color: $fontDark;
}

.dark-dp {
    border-color: $borderDark;
}
