$bgPrimaryDark: #010101;
$bgSecondaryDark: #111111;
$fontDark: #ffffff;
$fontDarkMuted: #cacaca;
$fontDarkCode: #494949;

.dark-bg-primary {
    background-color: $bgPrimaryDark;
}

.dark-bg-secondary {
    background-color: $bgSecondaryDark;
}

.dark-font {
    color: $fontDark;
}

.dark-font-muted {
    color: $fontDarkMuted;
}

.dark-font-code {
    color: $fontDarkCode;
}
