/* Light colour palette */

$bgPrimaryLight: #eeeeee;
$bgSecondaryLight: #cccccc;
$fontLight: #000000;
$fontLightMuted: #383838;

.light-bg-primary {
    background-color: $bgPrimaryLight;
}

.light-bg-secondary {
    background-color: $bgSecondaryLight;
}

.light-font {
    color: $fontLight;
}

.light-font-muted {
    color: $fontLightMuted;
}

/* Dark colour palette */

$bgPrimaryDark: #010101;
$bgSecondaryDark: #111111;
$fontDark: #ffffff;
$fontDarkMuted: #cacaca;

.dark-bg-primary {
    background-color: $bgPrimaryDark;
}

.dark-bg-secondary {
    background-color: $bgSecondaryDark;
}

.dark-font {
    color: $fontDark;
}

.dark-font-muted {
    color: $fontDarkMuted;
}
