@import './colours';
@import './mixins';
@import './fonts';

body {
    margin: 0vw;
}

#header {
    @include flexCenter();
    @include flexVertically();

    height: auto;

    #header-shade {
        height: 12vw;
        width: 100%;
    }

    #display-picture-container {
        // TODO: is there a better way to do this?
        margin-top: -8vw;

        #display-picture {
            zoom: 50%;
            border-radius: 50%;
        }
    }
}

#nametag-container {
    @include flexCenter();
    @include flexVertically();

    margin: 0vw;

    #nametag {
        margin-top: 0vw;
        margin-bottom: 1vw;
        font-family: "Noto Sans";
        font-size: 2.5vw;
    }

    #nametag-subtext {
        margin-top: 0vw;
        font-family: "Noto Sans Italic";
        font-size: 1.25vw;
    }
}
