@import './colours';
@import './mixins';
@import './fonts';

body {
    margin: 0ch;
    overflow-y: scroll;
}

#header {
    @include flexCenter();
    @include flexVertically();

    height: auto;

    #header-img-container {
        #header-img {
            width: 100%;
        }
    }
}

#nametag-container {
    @include flexCenter();
    @include flexVertically();

    margin: 2vh;

    #nametag {
        margin-top: 0vh;
        margin-bottom: 1vh;
        font-family: "Noto Sans";
        font-size: 2.5em;
    }

    #nametag-subtext {
        margin-top: 1vh;
        font-family: "Hack Italic";
        font-size: 1.15em;

        #degree-one {
            color: #569CD6;
        }

        #degree-two {
            color: #C586C0;
        }

        #eol-cursor {
            color: #ffffff;
        }
    }
}

#links-container {
    @include flexCenter();

    width: 40%;
    margin: auto;
    margin-top: 2vw;
    justify-content: space-evenly;
}

#footer {
    @include flexCenter();
    @include flexVertically();

    position: fixed;
    bottom: 0ch;
    width: 100%;
    font-size: 0.85em;
    font-family: "Noto Sans";

    #copyright-notice {
        margin-top: 1vh;
        margin-bottom: 0ch;
    }

    #contact-prompt {
        margin-top: -2vh;

        #email {
            text-decoration: none;
            color: #bebebe;

            &:hover {
                color: #00cdaf;
            }
        }
    }
}
