@import './colours';
@import './mixins';

body {
    margin: 0vw;
}

#header {
    @include flexCenter();

    height: 15vw;

    #display-picture {
        zoom: 50%;
        margin-top: 28vw; // TODO: surely there's a better way to do that
        border: 1vw solid;
        border-radius: 50%;
    }
}
